/* Fonte utilizada na aplicação */
*{
    font-family: 'Open Sans';
}

.navbar{
    background-color: #015aa3;
}
#NavSearch{
    height: 30px;
    width: auto;
}
.nav-item{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
}
.nav-item:hover{
    color: #0289f8;
}
.btn-primary{
    border-color: #015aa3;
    background-color: #0289f8;
}
.btn-primary:hover{
    color: #015aa3;
    background-color: white;
}

.footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #015aa3;
    padding: 13px;
}
input,
input::placeholder{
    font-family: 'Open Sans';
    font-size: medium;
}